<style>
    .top{
        color:White;
        background-color:mediumaquamarine;
        border-radius:50px;
        padding:10px;
        margin:10px
    }
    .imgs{
        margin:15px;
        height:200px;
        width:250px
    }

    .imgs {
       align-content:center
    }
    table, th, td {
        margin:10px;
        border-spacing:10px;
        text-align:center;
       font-weight:bold
    }
</style>
<div class="container">
<div class="top">
    <Center>
        <h1>Mobile Best Sellers</h1>
        <h5>Our most popular products based on sales. Updated hourly.</h5>
    </Center>
</div>
<div class="mid">
        <b style="margin:10px">Best Sellers in Toys & Games</b>

        <table align="center" style="padding:10px">
            <tr>
                <td>
                    <img class="imgs" src="images/toytrain.jpg" /><br />
                    Toy Train
                    <h6 style="color:deepskyblue">Price : 500 R.S.</h6>
                </td>
                <td>
                    <img class="imgs" src="images/chess.jpg" /><br />
                    Chess
                    <h6 style="color:deepskyblue">Price : 200 R.S.</h6>
                </td>
                <td>
                    <img class="imgs" src="images/ludo.jpg" /><br />
                    Ludo
                    <h6 style="color:deepskyblue">Price : 100 R.S.</h6>

                </td>
                <td>
                    <img class="imgs" src="images/toyaeroplane.jpg" /><br />
                    Toy Aeroplane
                    <h6 style="color:deepskyblue">Price : 650 R.S.</h6>

                </td>
            </tr>

            <tr>
                <td>
                    <img class="imgs" src="images/toybike.jpg" /><br />
                    Toy Bike
                    <h6 style="color:deepskyblue">Price : 350 R.S.</h6>

                </td>
                <td>
                    <img class="imgs" src="images/toycar.jpg" /><br />
                    Toy Car
                    <h6 style="color:deepskyblue">Price : 440 R.S.</h6>

                </td>
                <td>
                    <img class="imgs" src="images/toycycle.jpg" /><br />
                    Toy Cyce
                    <h6 style="color:deepskyblue">Price : 450 R.S.</h6>

                </td>
                <td>
                    <img class="imgs" src="images/uno.jpg" /><br />
                    UNO
                    <h6 style="color:deepskyblue">Price : 70 R.S.</h6>

                </td>
            </tr>
        </table>

</div>
</div>