create database jet2day3
USE jet2day3
GO

CREATE TABLE [dbo].[ProductCategoryTable](
	[ProductCategoryID] [int] NOT NULL,
	[ProductCategoryName] [nvarchar](15) NOT NULL
) 
GO


CREATE TABLE [dbo].[ProductQuantitySold](
	[ProductID] [int] NULL,
	[Qty] [int] NULL
) 
GO

CREATE TABLE [dbo].[ProductsTable](
	[ProductID] [int] IDENTITY(1,1) PRIMARY KEY,
	[ProductCategoryID] [int] NOT NULL,
	[ProductName] [nvarchar](40) NOT NULL,
	[SellingPrice] [money] NOT NULL)
GO


CREATE TABLE [dbo].[ProductStockByYear](
	[ProductCategoryName] [nvarchar](15) NOT NULL,
	[ProductName] [nvarchar](40) NOT NULL,
	[StockYear] [int] NULL,
	[EndStock] [int] NULL
) 
GO

INSERT [dbo].[ProductCategoryTable] ([ProductCategoryID], [ProductCategoryName]) VALUES (1, N'Knives')
INSERT [dbo].[ProductCategoryTable] ([ProductCategoryID], [ProductCategoryName]) VALUES (2, N'Utensils')
INSERT [dbo].[ProductCategoryTable] ([ProductCategoryID], [ProductCategoryName]) VALUES (3, N'Toaster')
INSERT [dbo].[ProductQuantitySold] ([ProductID], [Qty]) VALUES (1, 8)
INSERT [dbo].[ProductQuantitySold] ([ProductID], [Qty]) VALUES (2, 2)
INSERT [dbo].[ProductQuantitySold] ([ProductID], [Qty]) VALUES (3, 4)
SET IDENTITY_INSERT [dbo].[ProductsTable] ON 

INSERT [dbo].[ProductsTable] ([ProductID], [ProductCategoryID], [ProductName], [SellingPrice]) VALUES (1, 1, N'Folding Knives', 15.1300)
INSERT [dbo].[ProductsTable] ([ProductID], [ProductCategoryID], [ProductName], [SellingPrice]) VALUES (2, 1, N'Pocket Knives', 10.0000)
INSERT [dbo].[ProductsTable] ([ProductID], [ProductCategoryID], [ProductName], [SellingPrice]) VALUES (3, 1, N'Fixed-Blade Knives', 19.9700)
SET IDENTITY_INSERT [dbo].[ProductsTable] OFF
INSERT [dbo].[ProductStockByYear] ([ProductCategoryName], [ProductName], [StockYear], [EndStock]) VALUES (N'Burner', N'Glass Top Alloy', 2013, 987)
INSERT [dbo].[ProductStockByYear] ([ProductCategoryName], [ProductName], [StockYear], [EndStock]) VALUES (N'Burner', N'Glass Top Alloy', 2014, 818)
INSERT [dbo].[ProductStockByYear] ([ProductCategoryName], [ProductName], [StockYear], [EndStock]) VALUES (N'Burner', N'Glass Top Alloy', 2015, 925)


select * from [ProductCategoryTable]
select * from [ProductQuantitySold]
select * from [ProductsTable]
select * from [ProductStockByYear]

--Sheet 1

select pt.ProductCategoryID,p.ProductCategoryName,pt.ProductName,pt.SellingPrice,
AVG(pt.SellingPrice) over(partition by pt.ProductCategoryID)as AveragePriceByCategory,
SellingPrice - AVG(pt.SellingPrice) over(partition by pt.ProductCategoryID) as DifferenceAveragePriceByCategory
from ProductCategoryTable p inner join ProductsTable pt
on pt.ProductCategoryID = p.ProductCategoryID
--Sheet 2

-- select * from [ProductCategoryTable]
-- select * from [ProductsTable]
-- select * from [ProductQuantitySold]

select p.ProductCategoryName,pt.ProductName, pt.SellingPrice * q.Qty
from ProductCategoryTable p inner join ProductsTable pt
on pt.ProductCategoryID = p.ProductCategoryID
inner join ProductQuantitySold q
on pt.ProductID = q.ProductID
order by ProductCategoryName


;with [sheet2CTE] as 
(
	select distinct c.ProductCategoryName, p.ProductName, (sum(q.qty) over (partition by q.productID)) * p.SellingPrice as Total from ProductsTable as p
	inner join ProductCategoryTable as c on p.ProductCategoryID = c.ProductCategoryID
	inner join ProductQuantitySold as q on p.ProductID = q.ProductID
)
select *, sum(s.total) over (partition by s.ProductCategoryName order by s.total range between unbounded preceding and current row) as Running_Total from sheet2CTE as s order by s.ProductCategoryName
--Sheet 3

-- exec sp_columns [ProductStockByYear]

select ProductCategoryName,ProductName,StockYear,EndStock,
EndStock - First_Value(EndStock) OVER(PARTITION BY ProductCategoryName,ProductName
ORDER BY ProductCategoryName) as SockDiff
from ProductStockByYear

