<center>

<h1 style="color:darkmagenta ; font-size:60px ; transition:all">Welcome to Institute.........</h1>
<img src=""/>

<section class="w3-container w3-content w3-center" style="max-width:600px">
    <p class="w3-justify">
        We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
</section>

<image src="https://img.freepik.com/free-photo/free-time-students-bachelor-s-campus-life-rhythm-five-friendly-students-are-walking_8353-6408.jpg?size=626&ext=jpg&ga=GA1.2.1854488858.1689598840&semt=ais"></image>
</center>