USE [SQLTrainingDB]
GO
 
CREATE TABLE [dbo].[Telephone](
	[id] [int] NULL,
	[TelNum] [varchar](10) NULL
)  
GO
INSERT [dbo].[Telephone] ([id], [TelNum]) VALUES (1, 'Tel1')

INSERT [dbo].[Telephone] ([id], [TelNum]) VALUES (1, 'Tel2')

INSERT [dbo].[Telephone] ([id], [TelNum]) VALUES (2, 'Tel3')




